<center>
<img src="https://openclipart.org/image/400px/215664"
    style="width:35%;">
    <h1 style="color: #00BFFF;">APIs</h1>
</center>

##### **RESTful APIs** provide a **standardized way** to retrieve, update, or delete data from other systems.

- Usually, **we (the client) send a request, and they (the server) return a response, often in JSON - JavaScript Object Notation - format**. While JSON looks similar to the dictionaries we're used to in Python, it's worth noting that when represented as raw text (e.g., in an API response), the entire JSON structure is a *string*. However, within that structure, JSON can represent various data types like numbers, booleans, and arrays, not just strings.

- APIs always need to provide documentation for their various services: **endpoints**.  Each endpoint is a different URL.  
- Sometimes we have to pass **parameters** to an API endpoint, similar to when we pass parameters to a Python function.

At this point in the Bootcamp, **reading documentation becomes essential**, as each API will "work" differently, and to use it, we will need to know what it requires.

[Here](https://github.com/public-apis/public-apis) is a repository where you can find several free APIs if you feel like exploring a bit.

<h2 style="color: #008080;">APIs with Python</h2>

You can make requests to RESTful APIs using libraries like `requests` (same we used for web scraping!).

In [ ]:
# pip install requests

<h1 style="color: #00BFFF;">00 | Use case: International Space Station</h1>

In [1]:
# ðŸ“š Basic libraries
import requests
import pandas as pd

<h1 style="color: #00BFFF;">01 | Data Extraction</h1>

<center>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/STS-134_EVA4_view_to_the_Space_Shuttle_Endeavour.jpg/1920px-STS-134_EVA4_view_to_the_Space_Shuttle_Endeavour.jpg"
    style="width:40%;">
</center>

Let's get information from ISS (International Space Station)! We'll start looking at the [ISS API documentation](https://wheretheiss.at/w/developer)

<h2 style="color: #008080;">Endpoints</h2>

#### Accessing an **endpoint**

APIs always need to provide documentation for their various services: **endpoints**.  Each endpoint is a different URL.

In [3]:
# We'll use the endpoint satellites, we read it gives us information about satellites
url = "https://api.wheretheiss.at/v1/satellites"

**Examples**
- Satellite details: `https://api.wheretheiss.at/v1/satellites`
- ISS position: `https://api.wheretheiss.at/v1/satellites/25544`
- Coordinates information: `https://api.wheretheiss.at/v1/coordinates/37.795517,-122.393693`

This API allows you to access various data related to the International Space Station (ISS), including its current, past, or future position, timezone information for specific coordinates, and more.

**Key Features**
- **Authentication**: No authentication is currently required, but future endpoints may include this.
- **Rate Limiting**: Limited to approximately 1 request per second.
- **Responses**: Default to JSON format, with optional parameters to modify response appearance.
- **Endpoints**: Several endpoints provide different types of information:
    - **satellites**: Information about satellites, including the ISS.

<h2 style="color: #008080;">GET</h2>

Making a `GET request` to the API is simply a call to a `URL` that returns information.

Here is an example on how to make a request with Python:

```python
url = "https://api.example.com/products"
response = requests.get(url)

if response.status_code == 200:
    products = response.json()
    # Now you can analyze and work with the products data in Python
```

In [5]:
response = requests.get(url)
data = response.json()

In [27]:
type(data)

list

In [7]:
data

[{'name': 'iss', 'id': 25544}]

In [9]:
len(data)

1

In [17]:
str(data[]['id'])

'25544'

In [21]:
# Â¿CÃ³mo sacarias el id de este satelite? Conviertelo en string
id_ = str(data[0]['id'])
id_

'25544'

In [25]:
# Crea la url del id
url_id = url + '/' + id_
url_id

'https://api.wheretheiss.at/v1/satellites/25544'

In [29]:
response2 = requests.get(url_id)
data_id = response2.json()
data_id

{'name': 'iss',
 'id': 25544,
 'latitude': 34.115305253851,
 'longitude': 37.206378422647,
 'altitude': 414.48427162453,
 'velocity': 27605.982819302,
 'visibility': 'daylight',
 'footprint': 4479.2947777087,
 'timestamp': 1758796953,
 'daynum': 2460943.9462153,
 'solar_lat': -1.0427815567723,
 'solar_lon': 17.261545196442,
 'units': 'kilometers'}

In [33]:
type(data_id)

dict

Sometimes we can pass **parameters** to an API endpoint, similar to when we pass parameters to a Python function.

- API parameters are specific values that you include in a request to an API endpoint to filter, sort, or detail the data that you want to retrieve. They allow you to customize the request to get exactly the information you need.

- There are several types of parameters that can be used in API requests, such as Path Parameters, Query Parameters, Header Parameters and Request Body Parameters. Let's look at them with an example using another endpoint.

<h2 style="color: #008080;">Path Parameters</h2>

- **Endpoints**: Several endpoints provide different types of information:
    - **satellites**: Information about satellites, including the ISS.
    - **satellites/[id]**: Position, velocity, and related information for a satellite.

In [ ]:
# data[0]["id"]

In [35]:
key = str(data[0]["id"])

In [37]:
iss = "https://api.wheretheiss.at/v1/satellites/"+key

In [39]:
response = requests.get(iss)
data_particular = response.json()

In [40]:
data_particular

{'name': 'iss',
 'id': 25544,
 'latitude': 42.763850703163,
 'longitude': 50.769904136958,
 'altitude': 416.63703204582,
 'velocity': 27604.164812494,
 'visibility': 'daylight',
 'footprint': 4490.3144630567,
 'timestamp': 1758797173,
 'daynum': 2460943.9487616,
 'solar_lat': -1.0437731679845,
 'solar_lon': 16.344658945323,
 'units': 'kilometers'}

##### **Path Parameters**

These are embedded in the URL path and are used to identify a specific resource. For example, in the URL above `https://api.wheretheiss.at/v1/satellites/25544`, the number `25544` is a path parameter that identifies a specific sattelite.

<h2 style="color: #008080;">Where is my Data?</h2>

In [ ]:
import pandas as pd

In [44]:
df = pd.DataFrame([data_particular])

In [46]:
df

,name,id,latitude,longitude,altitude,velocity,visibility,footprint,timestamp,daynum,solar_lat,solar_lon,units
0,iss,25544,42.763851,50.769904,416.637032,27604.164812,daylight,4490.314463,1758797173,2.460944e+06,-1.043773,16.344659,kilometers

<h2 style="color: #008080;">More Data = More Requests</h2>

In [48]:
import time

In [50]:
for i in range(15):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [52]:
positions = []

for i in range(15): # loop runs 15 times = 15 API requests
    response = requests.get(url_id)
    data2 = response.json()
    
    positions.append(data2)
    time.sleep(1) # pauses 1 second between each request

In [54]:
type(positions)

list

In [56]:
positions

[{'name': 'iss',
  'id': 25544,
  'latitude': 48.921699810223,
  'longitude': 67.709377107979,
  'altitude': 418.52127606261,
  'velocity': 27601.58607313,
  'visibility': 'daylight',
  'footprint': 4499.9327129262,
  'timestamp': 1758797387,
  'daynum': 2460943.9512384,
  'solar_lat': -1.0447377351609,
  'solar_lon': 15.452778554783,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 48.965125621907,
  'longitude': 67.886084486891,
  'altitude': 418.53634405125,
  'velocity': 27601.560413309,
  'visibility': 'daylight',
  'footprint': 4500.0095276146,
  'timestamp': 1758797389,
  'daynum': 2460943.9512616,
  'solar_lat': -1.0447467497604,
  'solar_lon': 15.444443269503,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.008254960879,
  'longitude': 68.063115224731,
  'altitude': 418.55135339285,
  'velocity': 27601.534741756,
  'visibility': 'daylight',
  'footprint': 4500.0860417403,
  'timestamp': 1758797391,
  'daynum': 2460943.9512847,
  'solar_lat': -1.0447557645352,
  'solar_lon': 15.436107816534,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.029707394962,
  'longitude': 68.151748373216,
  'altitude': 418.55883571857,
  'velocity': 27601.521902167,
  'visibility': 'daylight',
  'footprint': 4500.1241843013,
  'timestamp': 1758797392,
  'daynum': 2460943.9512963,
  'solar_lat': -1.0447602718334,
  'solar_lon': 15.431940173891,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.072388067168,
  'longitude': 68.329253045269,
  'altitude': 418.57375580701,
  'velocity': 27601.496215118,
  'visibility': 'daylight',
  'footprint': 4500.2002410797,
  'timestamp': 1758797394,
  'daynum': 2460943.9513194,
  'solar_lat': -1.0447692864328,
  'solar_lon': 15.423604888614,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.114769019094,
  'longitude': 68.507074543623,
  'altitude': 418.58861624558,
  'velocity': 27601.470517934,
  'visibility': 'daylight',
  'footprint': 4500.2759922302,
  'timestamp': 1758797396,
  'daynum': 2460943.9513426,
  'solar_lat': -1.0447783010293,
  'solar_lon': 15.41526960333,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.135846803485,
  'longitude': 68.596103719257,
  'altitude': 418.59602400939,
  'velocity': 27601.457665676,
  'visibility': 'daylight',
  'footprint': 4500.3137527585,
  'timestamp': 1758797397,
  'daynum': 2460943.9513542,
  'solar_lat': -1.0447828083247,
  'solar_lon': 15.411101960681,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.177777238213,
  'longitude': 68.774401733107,
  'altitude': 418.61079474998,
  'velocity': 27601.431953575,
  'visibility': 'daylight',
  'footprint': 4500.3890443648,
  'timestamp': 1758797399,
  'daynum': 2460943.9513773,
  'solar_lat': -1.0447918231051,
  'solar_lon': 15.402766507726,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.219404740736,
  'longitude': 68.953009868886,
  'altitude': 418.62550485261,
  'velocity': 27601.406232925,
  'visibility': 'daylight',
  'footprint': 4500.4640253536,
  'timestamp': 1758797401,
  'daynum': 2460943.9514005,
  'solar_lat': -1.0448008376987,
  'solar_lon': 15.394431222435,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.260729216627,
  'longitude': 69.131930418821,
  'altitude': 418.64015434203,
  'velocity': 27601.380503631,
  'visibility': 'daylight',
  'footprint': 4500.5386958699,
  'timestamp': 1758797403,
  'daynum': 2460943.9514236,
  'solar_lat': -1.0448098522951,
  'solar_lon': 15.386095937153,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.301749728042,
  'longitude': 69.311162066951,
  'altitude': 418.65474294704,
  'velocity': 27601.354766115,
  'visibility': 'daylight',
  'footprint': 4500.6130545503,
  'timestamp': 1758797405,
  'daynum': 2460943.9514468,
  'solar_lat': -1.0448188668915,
  'solar_lon': 15.377760651871,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.322146523927,
  'longitude': 69.40089774662,
  'altitude': 418.66201462589,
  'velocity': 27601.341893887,
  'visibility': 'daylight',
  'footprint': 4500.650118018,
  'timestamp': 1758797406,
  'daynum': 2460943.9514583,
  'solar_lat': -1.0448233743708,
  'solar_lon': 15.373592841551,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.362709331018,
  'longitude': 69.580593526735,
  'altitude': 418.67651139851,
  'velocity': 27601.316144823,
  'visibility': 'daylight',
  'footprint': 4500.7240064018,
  'timestamp': 1758797408,
  'daynum': 2460943.9514815,
  'solar_lat': -1.0448323889671,
  'solar_lon': 15.36525755627,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.402965843141,
  'longitude': 69.760597006857,
  'altitude': 418.69094661663,
  'velocity': 27601.290388581,
  'visibility': 'daylight',
  'footprint': 4500.7975795814,
  'timestamp': 1758797410,
  'daynum': 2460943.9515046,
  'solar_lat': -1.0448414035635,
  'solar_lon': 15.356922270987,
  'units': 'kilometers'},
 {'name': 'iss',
  'id': 25544,
  'latitude': 49.422978948984,
  'longitude': 69.85071369705,
  'altitude': 418.69814105992,
  'velocity': 27601.277507898,
  'visibility': 'daylight',
  'footprint': 4500.8342475533,
  'timestamp': 1758797411,
  'daynum': 2460943.9515162,
  'solar_lat': -1.0448459108588,
  'solar_lon': 15.352754628341,
  'units': 'kilometers'}]

In [58]:
df2 = pd.DataFrame(positions)
df2

,name,id,latitude,longitude,altitude,velocity,visibility,footprint,timestamp,daynum,solar_lat,solar_lon,units
0,iss,25544,48.921700,67.709377,418.521276,27601.586073,daylight,4499.932713,1758797387,2.460944e+06,-1.044738,15.452779,kilometers
1,iss,25544,48.965126,67.886084,418.536344,27601.560413,daylight,4500.009528,1758797389,2.460944e+06,-1.044747,15.444443,kilometers
2,iss,25544,49.008255,68.063115,418.551353,27601.534742,daylight,4500.086042,1758797391,2.460944e+06,-1.044756,15.436108,kilometers
3,iss,25544,49.029707,68.151748,418.558836,27601.521902,daylight,4500.124184,1758797392,2.460944e+06,-1.044760,15.431940,kilometers
4,iss,25544,49.072388,68.329253,418.573756,27601.496215,daylight,4500.200241,1758797394,2.460944e+06,-1.044769,15.423605,kilometers
5,iss,25544,49.114769,68.507075,418.588616,27601.470518,daylight,4500.275992,1758797396,2.460944e+06,-1.044778,15.415270,kilometers
6,iss,25544,49.135847,68.596104,418.596024,27601.457666,daylight,4500.313753,1758797397,2.460944e+06,-1.044783,15.411102,kilometers
7,iss,25544,49.177777,68.774402,418.610795,27601.431954,daylight,4500.389044,1758797399,2.460944e+06,-1.044792,15.402767,kilometers
8,iss,25544,49.219405,68.953010,418.625505,27601.406233,daylight,4500.464025,1758797401,2.460944e+06,-1.044801,15.394431,kilometers
9,iss,25544,49.260729,69.131930,418.640154,27601.380504,daylight,4500.538696,1758797403,2.460944e+06,-1.044810,15.386096,kilometers
10,iss,25544,49.301750,69.311162,418.654743,27601.354766,daylight,4500.613055,1758797405,2.460944e+06,-1.044819,15.377761,kilometers
11,iss,25544,49.322147,69.400898,418.662015,27601.341894,daylight,4500.650118,1758797406,2.460944e+06,-1.044823,15.373593,kilometers
12,iss,25544,49.362709,69.580594,418.676511,27601.316145,daylight,4500.724006,1758797408,2.460944e+06,-1.044832,15.365258,kilometers
13,iss,25544,49.402966,69.760597,418.690947,27601.290389,daylight,4500.797580,1758797410,2.460944e+06,-1.044841,15.356922,kilometers
14,iss,25544,49.422979,69.850714,418.698141,27601.277508,daylight,4500.834248,1758797411,2.460944e+06,-1.044846,15.352755,kilometers

In [ ]:
#df2.to_csv("satelite.csv",header=True, index=False)

In [60]:
url_matadero = 'https://api.wheretheiss.at/v1/coordinates/40.391883,-3.6985'
respuesta = requests.get(url_matadero)
respuesta

In [62]:
matadero = respuesta.json()
matadero

{'latitude': '40.391883',
 'longitude': '-3.6985',
 'timezone_id': 'Europe/Madrid',
 'offset': 2,
 'country_code': 'ES',
 'map_url': 'https://maps.google.com/maps?q=40.391883,-3.6985&z=4'}